body{
    color: white;
}
.container{
    background-color: rgb(0,66,65);
}
.fs-1{
    font-size: calc(2rem + 1.5vw)!important;
}
p{
    margin-bottom: 0;
}
.inform-about{
    margin-bottom: 0px;
    color: rgb(124,138,143);
}